{%extends "myincludes/base_index.html"%}

{%block content%}
        <div class="row head">

            <div class="col-md-2 m-3 mysidebar ">
                <div class="d-flex flex-column flex-shrink-0 p-2 " style="width: 200px; min-height: 400px;">
                    <ul class="nav nav-pills flex-column mb-auto mysidebaradmin">
                      <li class="">
                            <a href="/admin/home/" class="nav-link ">
                                <i class="fa fa-dashboard"></i>
                              Dashboard
                            </a>
                      </li>
                      <li>
                        <a href="/admin/users/" class="nav-link">
                            <i class="fa-solid fa-user"></i>
                          View users
                        </a>
                      </li>
                      <li>
                        <a href="/admin/meal/" class="nav-link">
                            <i class="fa-solid fa-bowl-food text-center m-auto p-auto"></i>
                          View meal plans
                        </a>
                      </li>
                      <li>
                        <a href="/admin/diet/" class="nav-link activee">
                            <i class="fa fa-table"></i>
                        View Diets
                        </a>
                      </li>
                      

                      <li>
                        <a href='/admin/profile/' class="nav-link">
                            <i class="fa-solid fa-user"></i>
                       View Admin Profile          
                        </a>
                      </li>


                      <li>
                        <a href='/admin/subscription/' class="nav-link">
                            <i class="fa-regular fa-clipboard"></i>
                          View all Subscriptions
                        </a>
                      </li>
                      
                     
                      <li>
                        <a href='/admin/payments/' class="nav-link">
                            <i class="fa-solid fa-chart-gantt"></i>
                        View all payment          
                        </a>
                      </li>
                    

                      

                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        Search App          
                        </a>
                      </li>
                      
                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa fa-power-off"></i>
                          Logout
                        </a>
                      </li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-md-9 m-3 ms-2 p-auto">
              <h3 class="text-center">DIETS</h3>

              <div class="row p-2 table-responsive-sm">
                <table class="table table-custom table-stripped table_admin">
                    <tr>
                        <th>S/N</th>
                        <th>NAME</th>
                        <th>ACTIONS</th>
                       

                    </tr>
                    {% for diet in diets%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{diet.name}}</td>
                        <td>
                          <a href="/admin/meal/{{diet.id}}/" class="btn btn-primary">View Meals</a>
                          <button  type="button" class="btn btn-danger " id="delete{{diet.id}}">Delete</button>

                        </td>
                    </tr>
                    {%endfor%}
                    
                </table>
                <div class="col-md-6 offset3 my-3 diet_pro">
                  <button type="button" class="btn btn-custom col-12 sub">Add new diet</button>
                  <div class="m-2 d-none sublist0">
                  <input type="text" class="mb-2 form-control" id="newdiet" placeholder="input new diet here">
                  <button type="button" id="submitdiet" class="btn btn-custom">Submit</button>
                  </div>
                  <p class="text-success" id="show"></p>
              </div>
            </div>
              
          </div>
          <div class="col-md-8">
              
          </div>
        </div>
        
{%endblock%}
{% block query%}
        {%for diet in diets%}

          $('#delete{{diet.id}}').click(function(){
            if(confirm("Are you sure you want to delete this diet option?")){
              var data2send={id:{{diet.id}},csrf_token:"{{csrf_token()}}"}
              $.post('/ajax/diet/delete/',data2send,function(res){
                $('#delete{{diet.id}}').text(res);
              }
              ); 
            }
          })

        {%endfor%}
       

        $('#submitdiet').click(function(){
          var diet=$('#newdiet').val()
            var data2send={diet:diet,csrf_token:"{{csrf_token()}}"}
            $.post('/ajax/add/diet/',data2send,function(res){
              $('#show').text(res);
            }
            ); 
        

       }) 
       $('.sub').click(function(){
        var arrowDown=$('.sublist0').hasClass('d-none')
       if(arrowDown == true){
        //$('.myneeds').style('display','block')
        $('.sublist0').removeClass('d-none');
        $('.sublist0').addClass('d-block');
      }else {
        $('.sublist0').removeClass('d-block');
        $('.sublist0').addClass('d-none');
      }
       })
{%endblock query%}