{%extends "myincludes/base_index.html"%}
{%block content%}
<div class="row up_form">
    <h2 class="text-center">UPDATE YOUR PROFILE</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="col-md-6 offset-md-3">
            <div class="mx-2">
                <label for="name" class="form-label">NAME:</label>
                <input type="text" name="name" class="form-control" value="{{admin.name}}">
            </div>
            <div class="mx-2">
                <label for="phone" class="form-label">PHONE:</label>
                <input type="text" name="phone" class="form-control">
            </div>
            <div class="mx-2">
                <label for="pic" class="form-label">PROFILE PICTURE:</label>
                <input type="file" name="pic" class="form-control">
            </div>
            <div class="mx-2">
                <button class="btn btn-calory">UPDATE</button>
            </div>

        </div>
    </form>


    
</div>
{%endblock%}