{%extends "myincludes/base_index.html"%}

{%block content%}
        <div class="row head">

            <div class="col-md-2 m-3 mysidebar ">
                <div class="d-flex flex-column flex-shrink-0 p-2 " style="width: 200px; min-height: 400px;">
                    <ul class="nav nav-pills flex-column mb-auto mysidebaradmin">
                      <li class="">
                            <a href="/admin/home/" class="nav-link ">
                                <i class="fa fa-dashboard"></i>
                              Dashboard
                            </a>
                      </li>
                      <li>
                        <a href="/admin/users/" class="nav-link activee">
                            <i class="fa-solid fa-user"></i>
                          View users
                        </a>
                      </li>
                      <li>
                        <a href="/admin/meal/" class="nav-link">
                            <i class="fa-solid fa-bowl-food text-center m-auto p-auto"></i>
                          View meal plans
                        </a>
                      </li>
                      <li>
                        <a href="/admin/diet/" class="nav-link">
                            <i class="fa fa-table"></i>
                        View Diets
                        </a>
                      </li>
                      

                      <li>
                        <a href='/admin/profile/' class="nav-link">
                            <i class="fa-solid fa-user"></i>
                       View Admin Admin Profile          
                        </a>
                      </li>

                      <li>
                        <a href='/admin/subscription/' class="nav-link">
                            <i class="fa-regular fa-clipboard"></i>
                          View all Subscriptions
                        </a>
                      </li>
                      
                     
                      <li>
                        <a href='/admin/payments/' class="nav-link">
                            <i class="fa-solid fa-chart-gantt"></i>
                        View all payment          
                        </a>
                      </li>
                      

                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        Search App          
                        </a>
                      </li>
                      
                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa fa-power-off"></i>
                          Logout
                        </a>
                      </li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-md-9 m-3 ms-2 p-auto">
              <h3 class="text-center">USERS</h3>

              <div class="row p-2 table-responsive-sm">
                <table class="table table-custom table-stripped table_admin">
                    <tr>
                        <th>S/N</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>PLAN</th>
                        <th>DIET TYPE</th>
                        <th>STATUS</th>
                        <th>ACTIONS</th>

                    </tr>
                    {% for user in users%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.subscription.name}}</td>
                        <td>{{user.diet.name}}</td>
                        <td id='show{{loop.index}}'>{{user.status}}</td>
                        <td>
                          {%if user.status=='active'%}
                          <button type="button" id="disable{{loop.index}}" class="btn btn-warning">Disable</button>
                          {%else%}
                          <button type="button" id="disable{{loop.index}}" class="btn btn-success">Activate</button>
                          {%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                    
                </table>
            </div>
              
          </div>
          <div class="col-md-8">
              
          </div>
        </div>


        
{%endblock%}
{% block query%}
{% for user in users%}
       {%if user.status=='active'%}
       $('#disable{{loop.index}}').click(function(){
        if(confirm("Are you sure you want to disable this user subscription?")){
          var data2send={id:{{user.id}},csrf_token:"{{csrf_token()}}"}
          $.post('/ajax/user/disable/',data2send,function(res){
            $('#disable{{loop.index}}').text(res)
            $('#show{{loop.index}}').text('disabled')
          }
          ); 
        }


       }) 
       {%else%}
       $('#disable{{loop.index}}').click(function(){
        if(confirm("Are you sure you want to activate this user subscription?")){
          var data2send={id:{{user.id}},csrf_token:"{{csrf_token()}}"}
          $.post('/ajax/user/activate/',data2send,function(res){
            $('#disable{{loop.index}}').text(res)
            $('#show{{loop.index}}').text('active');
          }
          ); 
        }


       })
       {%endif%}
{%endfor%}
{%endblock query%}