{%extends "myincludes/base_index.html"%}
{%block content%}


<div class="row head">

    <div class="col-md-3 m-3 mysidebar">
          
        <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px; min-height: 400px;">

            <p class="sidebarhead">Hi, Adedolapo</p>
            <ul class="nav nav-pills flex-column mb-auto mysidebar">
              <li class="">
                    <a href="/home/" class="nav-link ">
                        <i class="fa fa-dashboard"></i>
                      Dashboard
                    </a>
              </li>
              <li>
                <a href="/profile/" class="nav-link ">
                    <i class="fa-solid fa-user"></i>
                  Profile
                </a>
              </li>
              <li>
                <a href="/diet/suggest/daily/" class="nav-link activee">
                    <i class="fa-solid fa-bowl-food text-center m-auto p-auto"></i>
                  Daily Diet Suggestion
                </a>
              </li>
              {#<li>
                <a href="/diet/monthly/mealplan/" class="nav-link">
                    <i class="fa fa-table"></i>
                View meal plan
                </a>
              </li>#}
              

              <li>
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-chart-gantt"></i>
                view your progress            
                </a>
              </li>


              <li>
                <a href="center_booking.html" class="nav-link">
                    <i class="fa-regular fa-clipboard"></i>
                  Add record
                </a>
              </li>
              
             
              <li>
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-envelope"></i>
                Contact us           
                </a>
              </li>

              

              <li>
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                Search App          
                </a>
              </li>
              
              <li>
                <a href="#" class="nav-link">
                    <i class="fa fa-power-off"></i>
                  Logout
                </a>
              </li>
            </ul>
         
        </div>
    </div>
    <div class="col-md-8 homeback">
        <div class="row body_home">

            <div class="col-md-12 m-3 ms-2 p-auto">
                <h3 class="">Dietary suggestion for today:-</h3>
            </div>
            <div class="col-md-12">
                <div class="row dietary p-1 py-2">
                  {% if meal==None%}
                  <p><b>There is currently no meal plan available because it is not advisable to eat late at night,but in situations of persistent cravings, Snack is Recommended.<br> <i>Please adhere strictly to your diet need while choosing a snack option</i></b></p>
                  {%else%}
                  <p><b>Appetizer:- </b>{{meal.appetizer}}</p>
                  <p><b>Main course:- </b>{{meal.maincourse}}</p>
                  <p><b>Dessert:- </b>{{meal.desert}}</p>
                  <p><b>Recommended drink:- </b>{{meal.drink}} </p>
                  {%endif%}
                </div>
            </div>
            <div class="col-md-12 my-3 diet_pro">
                <button type="button" class="btn btn-custom col-12 sub">Proportion</button>
                <p class="d-none sublist0 m-2 p-2">{{meal.proportion}}</p>
            </div>
            <div class="col-md-12 my-3 diet_pro">
                <button type="button" class="btn btn-custom col-12 sub1">View Additional Note</button>
                <p class="d-none sublist1 m-2 p-2">{{meal.additional_note}}</p>
            </div>
            <div class="col-md-12 my-3 diet_pro">
                <a href="#" class="btn btn-custom col-12 sub2">Benefit</a>
                <p class="d-none sublist2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus quod impedit velit nemo, quo dolorem inventore maiores optio odit accusamus minima error porro vel provident quibusdam nihil totam delectus.</p>
            </div>

        </div>
    </div>
</div>


        

{%endblock%}
{%block query%}

$('.sub').click(function(){
  var arrowDown=$('.sublist0').hasClass('d-none')
 if(arrowDown == true){
  //$('.myneeds').style('display','block')
  $('.sublist0').removeClass('d-none');
  $('.sublist0').addClass('d-block');
}else {
  $('.sublist0').removeClass('d-block');
  $('.sublist0').addClass('d-none');
}
 })
 $('.sub1').click(function(){
  var arrowDown=$('.sublist1').hasClass('d-none')
 if(arrowDown == true){
  //$('.myneeds').style('display','block')
  $('.sublist1').removeClass('d-none');
  $('.sublist1').addClass('d-block');
}else {
  $('.sublist1').removeClass('d-block');
  $('.sublist1').addClass('d-none');
}
 })
 $('.sub2').click(function(){
  var arrowDown=$('.sublist2').hasClass('d-none')
 if(arrowDown == true){
  //$('.myneeds').style('display','block')
  $('.sublist2').removeClass('d-none');
  $('.sublist2').addClass('d-block');
}else {
  $('.sublist2').removeClass('d-block');
  $('.sublist2').addClass('d-none');
}
 })

{%endblock%}