{%extends "myincludes/base_index.html"%}
{%block content%}
        <div class="row head">
        

            <div class="col-md-3 m-3 mysidebar">
                  
                <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px; min-height: 400px;">

                    <p class="sidebarhead">Hi, Adedolapo</p>
                    <ul class="nav nav-pills flex-column mb-auto mysidebar">
                      <li class="">
                        <a href="/home/" class="nav-link ">
                            <i class="fa fa-dashboard"></i>
                          Dashboard
                        </a>
                  </li>
                  <li>
                    <a href="/profile/" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                      Profile
                    </a>
                  </li>
                  <li>
                    <a href="/diet/suggest/daily/" class="nav-link">
                        <i class="fa-solid fa-bowl-food text-center m-auto p-auto"></i>
                      Daily Diet Suggestion
                    </a>
                  </li>
                  {#<li>
                    <a href="/diet/monthly/mealplan/" class="nav-link">
                        <i class="fa fa-table"></i>
                    View meal plan
                    </a>
                  </li>#}
                      

                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-chart-gantt"></i>
                        view your progress            
                        </a>
                      </li>


                      <li>
                        <a href="center_booking.html" class="nav-link">
                            <i class="fa-regular fa-clipboard"></i>
                          Add record
                        </a>
                      </li>
                      
                     
                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-envelope"></i>
                        Contact us           
                        </a>
                      </li>

                      

                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        Search App          
                        </a>
                      </li>
                      
                      <li>
                        <a href="#" class="nav-link">
                            <i class="fa fa-power-off"></i>
                          Logout
                        </a>
                      </li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-md-8 homeback">
                <div class="row">
                    <div class="col-md-10 m-4 mt-5 s">
                        <h4>To enjoy this service you need to subscribe!</h4>
                    </div>
                    <div class="col-md-10 m-4 mt-5 subbox">
                        <p class="headingg text-center">Student Plan-N3000/monthly</p>
                        <ul>
                            <li>Aceess to daily meal suggestions</li>
                            <li>Acess to view montly meal plan</li>
                            <li>Calculate your body Calory</li>
                        </ul>

                        <a class="btn btn-cutom" href="/subscribe/regular/">Make Payment</a>
                        
                    </div>
                    <div class="col-md-10 m-4 mt-5 subbox">
                        <p class="headingg text-center">Premium Plan-N5000/monthly</p>
                        <ul>
                            <li>Aceess to daily meal suggestions</li>
                            <li>Acess to view montly meal plan</li>
                            <li>Calculate your body Calory</li>
                        </ul>

                        <a class="btn btn-cutom" href="/subscribe/premium/">Make Payment</a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        

        
{%endblock%}